# Ignore everything
/*

# Except these files & folders
!/src
!/public
# Exclude verification files with malformed HTML
public/y_key_*.html
!/.github
!tsconfig.json
!astro.config.mjs
!package.json
!.prettierrc
!eslint.config.mjs
!README.md